@media (max-width: 400px){

    .Collab-Navbar {
        display: flex; 

        justify-content: space-between; 

        align-items: center; 

        width: 100%; 

        padding: 0 10px; 
        box-sizing: border-box;
        position: fixed; 
        top: 0;
        left: 0;
        z-index: 1000; /* Assure que la barre est au-dessus des autres éléments */
    
        width: 100%;
        box-shadow: 0 0 10px black;
        background-color: #242E7D;

    }

    
    .image-logo, .porfile {
        height: 50px; 
        width: auto;
    }

   .bjr{
        position: fixed;
        top: 70px;
        left: 10px; 
        right: auto;
        
    }

    .user{
        font-size: 1.5em;
        font-weight: bold;

        color: green;
    }

    .icon-salut {
    color: #FFCC4D;      
    }


    .date{
       
        position: fixed;
        top: 100px; 
        left: 10px;
        right: auto; 
        width: auto;

        padding-top: 50px;
    }

    .heures{

        position: fixed;
        right: 100px;
        top: 250px;
        width: auto;

        width: 200px;  
        height: 200px; 
        
        border-radius: 50%; 
        
        color: white; 
    
        display: flex; 
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        
        box-shadow: 1px 1px 1px 12px #242E7D; 
    
}
    .compteur {

        font-size: 1em;
        font-weight: bold;
        text-align: center;
    }
    

}