@font-face {
  font-family: 'Police'; /* Le nom logique pour le CSS */
  src: url('../Styles/PUNKBABE TRIAL.ttf'); 
  /* font-display: swap; */

}body{
    background-color: #242C6C;
    
    
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.connexion{
    color: aliceblue;
    font-family: 'Police';
      
}

ON NE TOUCHE PAS AU LAYOUT
#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Bouton */
.connexion {
  position: relative;
  display: inline-block; /* garde EXACTEMENT la position naturelle */
  cursor: pointer;
}

/* TEXTE */
.connexion span {
  transition: opacity 0.25s ease;
}

/* IMAGE */
.verso-img {
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%);
  width: 120px; /* ajuste à ton image */
  opacity: 0;
  
  pointer-events: none;
  transition: opacity 0.25s ease;
}

/* HOVER */
.connexion:hover span {
  opacity: 0;
}

.connexion:hover .verso-img {
  opacity: 1;
}


@keyframes monAnimation {
    0% {
       
        transform: scale(1);
    }
    50% {
        
        transform: scale(1.2);
    }
    100% {
       
        transform: scale(1);
    }
}

.imageAccueil{
    cursor: pointer;
    animation: monAnimation 2s ease-in-out infinite alternate;
}

@media (max-width: 400px) {
   
    #root {
       
        max-width: 100%;
        padding: 1rem 0.5rem; 
        overflow-x: hidden;
    }

    
    .accueil {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .imageAccueil {
        width: 100%;
        display: block; 
        margin: 5vh auto 0 auto; 
    }
    
    .imageAccueil img {
        max-width: 80vw; 
        height: auto;
        margin: 0 auto;
        display: block; 
        
        animation: none !important; 
        transform: none !important; 
    }
    
    .connexion {
        font-size: 1.5rem; 
        margin-top: 30px; 
        padding: 10px 0; 
        width: 100%;
        text-align: center;
    }
    
    .verso-img {
        width: 100px; 
    }
    .connexion span {
        opacity: 1 !important; 
    }
    .connexion .verso-img {
        opacity: 0 !important;
    }
}