.logo{
    width: 150px;
    position: absolute;
    right: 45%;
    top: 5%;
}


@media (max-width: 400px){
    
    .logo {
      
        width: 100px;
        right: 50%;
        transform: translateX(50%); 
        top: 0%; 
    }
}